In [1]:
import freqml as fm
from freqml import *
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = fm.read("ETH")

In [3]:
df_TB = df.bars.TB()

In [4]:
df_labeling = fm.labeling(df_TB, pd.DataFrame(df_TB.index[1940:1950]))

In [5]:
df_labeling

    start     end  size  side        duration                       touch_time
0  158.03  159.50  1.47     1 00:00:07.754000 2020-04-16 07:03:48.964000+00:00
1  158.25  159.50  1.25     1 00:00:05.649000 2020-04-16 07:03:48.964000+00:00
2  158.40  159.50  1.10     1 00:00:03.845000 2020-04-16 07:03:48.964000+00:00
3  158.59  157.95  0.64     0 00:05:02.175000 2020-04-16 07:08:48.453000+00:00
4  158.88  157.79  1.09    -1 00:00:42.600000 2020-04-16 07:04:30.825000+00:00
5  159.50  158.47  1.03    -1 00:00:10.488000 2020-04-16 07:03:59.452000+00:00
6  159.00  157.79  1.21    -1 00:00:39.912000 2020-04-16 07:04:30.825000+00:00
7  158.83  157.79  1.04    -1 00:00:37.323000 2020-04-16 07:04:30.825000+00:00
8  158.59  157.99  0.60     0 00:05:03.672000 2020-04-16 07:08:59.842000+00:00
9  158.47  157.99  0.48     0 00:05:00.390000 2020-04-16 07:08:59.842000+00:00

In [63]:
def meta_labeling(df, events, side, up=1, down=1, lapse=5):
    df_touch = pd.DataFrame()
    df_touch = fm.labeling(df, events, up=up, down=down, lapse=lapse)
    df_touch = df_touch.rename(columns={"side":"true_side"})
    df_touch["pred_side"] = side
    df_touch["take"] = df_touch["pred_side"]*df_touch["true_side"]
    df_touch.loc[df_touch["take"] < 0, "take"] = 0
    cols = ["start", "end", "size", "pred_side", "true_side",\
            "take", "duration", "touch_time"]
    return df_touch[cols]

In [64]:
meta_labeling(df_TB, pd.DataFrame(df_TB.index[1940:1950]), pd.DataFrame(np.random.choice([-1, 1], 10)))

,start,end,size,pred_side,true_side,take,duration,touch_time
0,158.03,159.50,1.47,-1,1,0,00:00:07.754000,2020-04-16 07:03:48.964000+00:00
1,158.25,159.50,1.25,-1,1,0,00:00:05.649000,2020-04-16 07:03:48.964000+00:00
2,158.40,159.50,1.10,-1,1,0,00:00:03.845000,2020-04-16 07:03:48.964000+00:00
3,158.59,157.95,0.64,1,0,0,00:05:02.175000,2020-04-16 07:08:48.453000+00:00
4,158.88,157.79,1.09,-1,-1,1,00:00:42.600000,2020-04-16 07:04:30.825000+00:00
5,159.50,158.47,1.03,-1,-1,1,00:00:10.488000,2020-04-16 07:03:59.452000+00:00
6,159.00,157.79,1.21,1,-1,0,00:00:39.912000,2020-04-16 07:04:30.825000+00:00
7,158.83,157.79,1.04,1,-1,0,00:00:37.323000,2020-04-16 07:04:30.825000+00:00
8,158.59,157.99,0.60,1,0,0,00:05:03.672000,2020-04-16 07:08:59.842000+00:00
9,158.47,157.99,0.48,-1,0,0,00:05:00.390000,2020-04-16 07:08:59.842000+00:00

In [44]:
np.random.choice([-1, 1], 10)

array([ 1, -1, -1, -1,  1,  1, -1, -1,  1, -1])